@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Lora Variable';
    font-style: normal;
    font-display: swap;
    font-weight: 200 800;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/lora:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* roboto-mono-latin-wght-normal */
@font-face {
    font-family: 'Roboto Mono Variable';
    font-style: normal;
    font-display: swap;
    font-weight: 100 700;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/roboto-mono:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
    @apply bg-page-background;
    height: 100%;
    /* -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth; */
}

body {
    font-family: 'Work Sans', sans-serif;
    letter-spacing: -0.02em;
    font-size: 14pt;
    font-weight: 400;
    line-height: 1.6;
    height: 100%;
    margin: 0;
}

.serif {
    @apply font-serif;
    letter-spacing: 0.021em;
    line-height: 1.8;
}

.name {
    /* font-family: 'Lora Variable', serif; */
    /* transform: rotate(-3deg);  */
    display: inline-block;
}

.name em {
    border-radius: 0;
}

/* Styling for em elements in headings and special sections */
h1 em,
h2 em,
h3 em,
.section-title em,
.name em {
    @apply bg-link-color;
    @apply bg-forest-green;
    clip-path: polygon(1% 0, 100% 0, 99% 109%, 0 100%);
    color: #fff;
    font-style: normal;
}

/* Default styling for em elements */
em {
    font-style: italic;
}

/* Default styling for strong elements */
strong {
    font-weight: 500;
}

h1 em {
    padding: 8px 14px;
}

h1 {
    font-size: 2.5em;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: -0.03em;
    line-height: 1.2em;
    font-weight: bold;
    width: fit-content !important;
}

h2 {
    font-family: 'Source Serif 4', serif;
    font-weight: 300;
    letter-spacing: -0.03em;
    font-size: 1.5em;
}

h3,
h4,
h5,
h6 {
    font-family: 'Source Serif 4', serif;
}

small {
    font-size: 0.8em;
}

a {
    @apply text-link-color;
    position: relative;
    display: inline-block;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

/* Base underline effect */
a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    bottom: -2px;
    left: 0;
    background-color: currentColor;
    transition: all 0.2s ease-in-out;
}

/* Default hover effects */
a:hover {
    transform: rotate(3deg);
}

a:hover::after {
    height: 3px;
}

/* Rotation classes */
a.hover-rotate-1:hover {
    transform: rotate(1deg);
}

a.hover-rotate-3:hover {
    transform: rotate(3deg);
}

a.hover-rotate-4:hover {
    transform: rotate(4deg);
}

a.hover-rotate-5:hover {
    transform: rotate(5deg);
}

/* Negative rotation classes */
a.hover-rotate--1:hover {
    transform: rotate(-1deg);
}

a.hover-rotate--3:hover {
    transform: rotate(-3deg);
}

a.hover-rotate--4:hover {
    transform: rotate(-4deg);
}

a.hover-rotate--5:hover {
    transform: rotate(-5deg);
}

/* Opt-out classes */
a.no-underline::after {
    display: none;
}

a.no-rotate:hover {
    transform: none !important;
}

/* Override for specific cases where we don't want the effect */
a.no-hover-effect {
    transform: none !important;
}

a.no-hover-effect::after {
    display: none;
}

a.no-hover-effect:hover {
    transform: none !important;
}

h1,
h2 {
    margin-bottom: 32px;
}

p {
    margin-bottom: 18px;
}

button {
    @apply bg-orange;
    padding: 8px 12px;
    font-weight: normal;
    color: #fff;
    border-radius: 4px;
}

.shadow.hover {
    transition: box-shadow 0.1s ease-in-out;
}

.shadow {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05),
        0px 1px 1px 0px rgba(0, 0, 0, 0.05),
        0px 2px 2px 0px rgba(0, 0, 0, 0.05),
        0px 4px 4px 0px rgba(0, 0, 0, 0.05),
        0px 8px 8px 0px rgba(0, 0, 0, 0.05),
        0px 16px 16px 0px rgba(0, 0, 0, 0.05),
        /* Used for hover states */
        inset 0px 0px 0px 1px rgba(0, 0, 0, 0.00),
        inset 0px 1px 1px 0px rgba(0, 0, 0, 0.00),
        inset 0px 2px 2px 0px rgba(0, 0, 0, 0.00),
        inset 0px 4px 4px 0px rgba(0, 0, 0, 0.00),
        inset 0px 8px 8px 0px rgba(0, 0, 0, 0.00),
        inset 0px 16px 16px 0px rgba(0, 0, 0, 0.00);
}

.inner-shadow {
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.05),
        inset 0px 1px 1px 0px rgba(0, 0, 0, 0.05),
        inset 0px 2px 2px 0px rgba(0, 0, 0, 0.05),
        inset 0px 4px 4px 0px rgba(0, 0, 0, 0.05),
        inset 0px 8px 8px 0px rgba(0, 0, 0, 0.05),
        inset 0px 16px 16px 0px rgba(0, 0, 0, 0.05);
}

.inner-outer-shadow {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05),
        0px 1px 1px 0px rgba(0, 0, 0, 0.05),
        0px 2px 2px 0px rgba(0, 0, 0, 0.05),
        0px 4px 4px 0px rgba(0, 0, 0, 0.05),
        0px 8px 8px 0px rgba(0, 0, 0, 0.05),
        0px 16px 16px 0px rgba(0, 0, 0, 0.05),
        inset 0px 0px 0px 1px rgba(0, 0, 0, 0.05),
        inset 0px 1px 1px 0px rgba(0, 0, 0, 0.05),
        inset 0px 2px 2px 0px rgba(0, 0, 0, 0.05),
        inset 0px 4px 4px 0px rgba(0, 0, 0, 0.05),
        inset 0px 8px 8px 0px rgba(0, 0, 0, 0.05),
        inset 0px 16px 16px 0px rgba(0, 0, 0, 0.05);
}

.shadow.hover:hover,
.shadow.hover:active {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.00),
        0px 1px 1px 0px rgba(0, 0, 0, 0.00),
        0px 2px 2px 0px rgba(0, 0, 0, 0.00),
        0px 4px 4px 0px rgba(0, 0, 0, 0.00),
        0px 8px 8px 0px rgba(0, 0, 0, 0.00),
        0px 16px 16px 0px rgba(0, 0, 0, 0.00),
        /* Used for hover states */
        inset 0px 0px 0px 1px rgba(0, 0, 0, 0.05),
        inset 0px 1px 1px 0px rgba(0, 0, 0, 0.05),
        inset 0px 2px 2px 0px rgba(0, 0, 0, 0.05),
        inset 0px 4px 4px 0px rgba(0, 0, 0, 0.05),
        inset 0px 8px 8px 0px rgba(0, 0, 0, 0.05),
        inset 0px 16px 16px 0px rgba(0, 0, 0, 0.05);
}

.important-list {
    list-style: none;
    padding-left: 2rem;
}

.important-list li {
    position: relative;
    list-style: none;
}

.important-list li::before {
    content: "→ ";
    @apply text-orange;
    position: absolute;
    left: -2rem;
}

/* Markdown styling */
.prose pre {
    font-family: 'Roboto Mono Variable', monospace;
    background-color: #f3f4f6;
    border-radius: 0.5rem;
    padding: 1rem;
    overflow-x: auto;
    display: block;
    width: calc(100% - 1rem);
    box-sizing: border-box;
    margin: 2rem 0;
    margin-left: 1rem;
}

.prose code {
    font-family: 'Roboto Mono Variable', monospace;
    font-size: 0.875rem;
    color: #1f2937;
}

.prose blockquote {
    border: 1px solid #E3776933;
    border-radius: 0.5rem;
    border-left: 4px solid #E37769cc;
    padding-left: 1.8rem;
    padding-top: 0.5rem;
    padding-bottom: 0.2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: rgba(227, 119, 105, 0.05);
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    display: block;
    width: calc(100% - 1rem);
    box-sizing: border-box;
}

.prose blockquote br {
    display: inline;
}

.prose blockquote br::after {
    content: "";
    display: block;
    height: 0.5em;
}

.prose blockquote p {
    color: #4b5563;
    font-style: italic;
    margin-top: 0.5em;
    margin-bottom: 0.8em;
    padding-right: 2em;
    line-height: 1.6em;
}

.prose blockquote h2,
.prose blockquote h3,
.prose blockquote h4,
.prose blockquote h5,
.prose blockquote h6 {
    @apply text-orange;
}

.prose blockquote h2 {
    font-size: 1.25em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.prose figure {
    margin: 3.5rem 0;
}

.prose figure img {
    width: 80%;
    margin: 0 auto;
    display: block;
    border: 1px solid #E3776933;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    transition: transform 0.2s;
    cursor: pointer;
}

.prose figure img:hover {
    transform: scale(1.05);
}

.prose figure figcaption {
    margin-top: 0.5rem;
    font-size: 0.875rem;
    color: #6b7280;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* Add styling for unordered lists in markdown content */
.prose ul {
    list-style-type: disc;
    padding-left: 2rem;
    margin: 1rem 0;
}

.prose ul li {
    margin-bottom: 0.5rem;
}

/* Add styling for nested lists if needed */
.prose ul ul {
    list-style-type: circle;
    margin: 0.5rem 0;
}

/* Custom styling for h2 tags in markdown content */
.prose h2 {
    font-weight: 500;
    margin-top: 2.0rem;
    margin-bottom: 1.5rem;
    padding-bottom: 0.2rem;
    display: inline-block;
    position: relative;
    border-bottom: none;
}

/* Hand-written swoop underline effect - only for h2s not in blockquotes */
.prose h2:not(blockquote h2)::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background-color: #006b56;
    border-radius: 50% 40%;
    transform: scaleY(0.5) skewX(-12deg);
    transform-origin: bottom;
}

/* Specific styling for em and strong elements in Markdown content */
.prose em {
    font-style: italic;
    background: none;
    color: inherit;
}

.prose strong {
    font-weight: 500;
    /* color: #1f2937; */
}

.prose blockquote.no-italic p {
    font-style: normal;
}